ci:
  autofix_prs: false
  autoupdate_branch: develop

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: '^(libtool_patches|test_inputs)/.*|(^|/)(aclocal.m4|configure|Makefile.in)$'
      - id: trailing-whitespace
        exclude: '^(libtool_patches|test_inputs)/.*|(^|/)(aclocal.m4|configure|Makefile.in)$'
      - id: check-yaml
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
  - repo: https://github.com/csachs/pyproject-flake8
    rev: v7.0.0
    hooks:
      - id: pyproject-flake8
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-format
        name: cmake-format (templates)
        types: [file]
        files: '\.cmake\.in$'
      - id: cmake-lint
      - id: cmake-lint
        name: cmake-lint (templates)
        types: [file]
        files: '\.cmake\.in$'
  - repo: https://github.com/fortran-lang/fprettify
    # The latest release v0.3.7 is very old and does not have a number of
    # important bug fixes:
    #   - https://github.com/fortran-lang/fprettify/commit/9e0108c34f651b9444582715d281672e59fa0d9c
    #   - https://github.com/fortran-lang/fprettify/commit/cb254022c2034ad3b8f744f4dad1bf5b7438815d
    # Therefore, we use the current HEAD of the master branch:
    rev: ee0cf1b1890fee615942df00075cf2134c709542
    hooks:
      - id: fprettify
        name: fprettify
        files: '\.([fF]\d*|inc)$'
        exclude: '^(test_inputs/.*|src/modules/mo_mod_a.f90$)'
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
